# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/

# =========================
# .NET
# =========================
*.dll
*.exe
*.pdb
*.cache
*.deps.json

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store
